/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  margin-bottom: 60px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 14px;
  color: #212121;
}
